name: Run all tests & checks

on:
  push:
    branches: [ master, nightly ]
  pull_request:
    branches: [ master, nightly ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools==44.0.0

      - name: Install development dependencies
        run: make dev-requirements

      - name: Static code analysis
        run: make test-lint

      - name: Static type checks
        run: make test-types

      - name: Code formatting
        run: make test-format

      - name: Package tests
        run: make test-pythonpackage

      - name: Install caddy for Caddyfile syntax checking
        run: |        
          sudo apt install -y debian-keyring debian-archive-keyring apt-transport-https
          curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | sudo gpg --dearmor -o /usr/share/keyrings/caddy-stable-archive-keyring.gpg
          curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt' | sudo tee /etc/apt/sources.list.d/caddy-stable.list
          sudo apt update
          sudo apt install caddy

      - name: Plugin installation & rendering checks
        run: make test-install
